@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


:root{
  --h1-color: #394A78;
  --p-color: #DFDFDF;
  --primary-color: #7159c1;
  --secondary-color: #d68d1e;
}

/* Configurações globais */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1{
  color: var(--h1-color);
  font-size: 22px;
}

p{
  color: var(--p-color);
}

body{
  font-family: 'Roboto', sans-serif;
  background-color: #141823;
}

header{
  width: 100%;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 48px;
}

header nav{
  margin-top: 80px;
}

header ul {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
}

header ul li{
  margin-right: 16px;
}

header ul li a{
  position: relative;
  text-decoration: none;
  color: aliceblue;
}

.active{
  color:rgb(24, 190, 255);
}

header ul li a::after{
  content: "";
  width: 0;
  height: 2px;
  background-color: #2f4da0;
  position: absolute;
  left: 0;
  bottom: -4px;
}

header ul li a:hover::after{
  width: 100%;
  transition: width 200ms ease-in-out;
}

/* Menu principal */

.cards{
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 16px;
}

.card{
  padding-right: 28px;
  width: 100%;
}

.article{
  margin-top: 40px;
}

.image-article{
  padding-top: 24px;
  position: relative;
}

.image-article .redes-sociais{
  position: absolute;
  text-align: center;
  left: 13%;
}

.image-article .redes-sociais p {
  padding-bottom: 16px;
}

/* Videos */
.videos{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 880px;
  margin: 0 auto;
  margin-top: 50px;
  gap: 16px;
}

.video{
  background-color: var(--primary-color);
}

.video_image-container img{
  width: 100%;

}

.video h3{
  color: white;
  text-align: center;
}

.video_content,
.video_info {
  padding: 24px;
}

.video_info{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.video_duration{
  background-color: var(--primary-color);
  filter: brightness(90%);
  padding: 5px 20px;
  border-radius: 20px;
  text-align: center;
}


footer{ 
   position: absolute;
   text-align: center;
   background-color: #2f4da0;
   margin-top: 32px;
   width: 100%;
   bottom: 0;
}

footer p {
  padding: 18px;
  font-size: 18px;
  font-weight: 600;
}













